/assets/
/protected/runtime/
/themes/classic/views/
/protected/config/components
/protected/config/local.php
/index.php
/admin.php
/.idea
/.htaccess
/protected/config/local.php
/protected/config/components/
/protected/config/admin/
/documents
/cgi-bin
/i
/nbproject/private/
/nbproject/
protected/yiic.php
