/assets/
/protected/runtime/
/themes/classic/views/
/protected/config/components
/protected/config/local.php
/index.php
/.idea
/.htaccess
/protected/config/local.php
/protected/config/components/
/core
/documents
/framework
/pma
/widex_access_test.php

